### もしインストールに失敗したり動かなかった場合は下記のように動作確認済みのバージョンで試して下さい。
# django==2.2.10
# uwsgi==2.0.18
# mysqlclient==1.4.6

django>=2.2.10, <3.0       # django 2.2.9 で動作確認済み、2.?.? の間は動くと仮定している
uwsgi>=2.0.18, <3.0       # uwsgi 2.0.18 で動作確認済み、2.?.? の間は動くと仮定している
mysqlclient>=1.4.6, <2.0  # mysqlclient 1.4.4 で動作確認済み、1.?.? の間は動くと仮定している
